body{
    background-image: url('madrid.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

div#cdr{
    height: 200px;
    width: 200px;
    background-image: url("logo.png");
    overflow: scroll;
    box-shadow: 10px 10px 5px #000;
}
