.titulo {
    height: 80px;
    width: 80px;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    animation-name: animacion;
}

@keyframes animacion {

    from {
        margin-left: 90%;
        transform: rotate(0deg);
    }

    to {
        margin-left: 0%;
        transform: rotate(360deg);
    }

}