div#contenedor{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: aquamarine;
    height: 200px;
    width: 60%;
    align-items: center;
    /*align-items: flex-end;*/
    margin-bottom: 2em;
}
div.sub > div {
    height: 25px;
    width: 100px;
    color: white;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
}