body{
	margin: 0;	
}

.container {
	display: grid;
	height: 100vh;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 20vh 1fr 20vh;
	grid-gap: 5px;
	grid-template-areas: "..... ..... head head head head head head head header ..... ...."
						 "aside aside aside ...... main main main main main main main main"
						 "..... ..... ..... ...... foot foot foot foot .... .... ....";

}		

.item {
	background: #89ece1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container > header {
	grid-area: head;
}

.container > item--main {
	grid-area: main;
}

.container > item--aside {
	grid-area: aside;
}

.container > item--footer {
	grid-area: foot;
}