.container {
    height: 600px;
    width: 1000px;
    border: 1px solid black;
    position: absolute;
}

.logo {
    height: 100px;
    width: 100px;
    background-image: url("src/dvd_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    animation-name: animacion;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes animacion {
    0% {
        top: 0px;
        left: 400px;
    }

    25% {
        top: 200px;
        left: 900px;
    }

    50% {
        top: 500px;
        left: 400px;
    }

    75% {
        top: 200px;
        left: 0px;
    }

    100% {
        top: 0px;
        left: 400px;
    }
}